.textGradient {
  background: linear-gradient(92deg, var(--color-components-input-border-active-prompt-1, #CC7D5E) -29.55%, var(--color-components-input-border-active-prompt-2, #A86145) 75.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
